<!DOCTYPE html>
<html lang="en">
<head>
<h1>Adam Muhtadi</h1>
<h3>"Programmer"</h3>
<img src="41D72D22-DDB1-47B6-AF92-2F3F2C968F62.JPG" alt="its me" width="500" height="500">


<p>I'M 26 years old , live in jerusalem
     i love reading and photography
        my favirate color is blue.  
</p>

<ol>
    <li>Instegram :</li> 
    <a href="https://www.instagram.com/adam._.mu/" target="_blank">my profile</a> 
    <li>Facebook :</li>
    <a href="https://www.facebook.com/amuhtadi3" target="_blank">my profile</a>

</ol>

<html>
<head>